









































































































































































































































































































































































.buttonHeart {
  cursor: pointer;
}

.display {
  display: flex;
}

#payment span{
  display: flex;
  position: absolute;
  left: 30rem;
  color: white;
}

.imagePayment {
  width: 40vh;
  border-radius: 20px;
  height: 40vh;
}

.add-btn {
 position: absolute;
 display: flex;
 width: 2rem;
 height: 2rem;
 top: 22rem;
 left: 22rem;
 border-radius:20%;
 -webkit-border-radius:20%;
 -moz-border-radius:20%;
 -ms-border-radius:20%;
 -o-border-radius:20%;
 align-content: flex-end;
 justify-content: center;
 color: white;
 font-size: 2rem;
 cursor: pointer;
}

.red-btn {
  color: white;
  position: absolute;
  display: flex;
  width: 2rem;
  height: 2rem;
  top: 21.9rem;
  left: 20rem;
  border-radius:20%;
  -webkit-border-radius:20%;
  -moz-border-radius:20%;
  -ms-border-radius:20%;
  -o-border-radius:20%;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 2rem;
}

.cost {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 23rem;
  left: 14rem;
  color: wheat;
}

.hours {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 26rem;
  left: 14rem;
  color: rgb(166, 176, 194);
}

.xButton {
  cursor: pointer;
}